[flake8]
ignore = E722, W503
max-line-length = 120
exclude = .venv,__pycache__,.pytest_cache
per-file-ignores =
    __init__.py: F401
    tests/conftest.py: E402
    app/payments/contracts.py: E704
    api/tests/conftest.py: E402
    api/app/payments/contracts.py: E704
